body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/TexturesCom_Groundplants0207_S.jpg");
    margin: 0;
}

header {
    display: flex;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

td {
    background-color: white;
    border: solid gray;
    width: 30px;
    height: 10px;

}

.game_road {
    margin-left: 20px;
    margin-top: 50px;
}

#left-lane {
    display: flex;
}

#right-lane {
    display: flex;
}

.tile {
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    display: table-cell;
    top: -10px;


    width: 60px;
    height: 30px;
    border: solid green 1px;
    background-color: white;
    border: solid gray;
}


footer {
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0px;
    background-color: transparent;
    overflow: hidden;
}

footer:hover {
    animation-name: show_cards;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

footer:not(:hover) {
    animation-name: hide_cards;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes show_cards{
    from {height: 60px;}
    to {height: 350px;}
}

@keyframes hide_cards{
    from {height: 350px;}
    to {height: 60px;}
}

.container {
    display: flex;
    justify-content: center;
}

.player-cards {
    width: 200px;
    height: 300px;
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
    margin: 0 0 0 10px;
}

.player-cards:hover {
    background-color: lightgray;
    cursor: pointer;
    border: solid yellow 2px;
}

.pathDiv {
    position: absolute;
    font-family: sans-serif;
    font-size: 30px;
    border: solid 3px blue;
    width: 40px;
    height: 40px;
    margin-left: -19px;
    margin-top: 70px;
    text-align: center;
    border-radius: 50%;
    display: table-cell;
    transform: rotate();
}